{% extends "base.html" %}

{% block content %}
  <br><br><br<br><br><br><br><br><br><br><br><br><br><br><br>
  <h1>Auditions for {{ show }}</h1>
  <form action="" method=post>
    <table align="center" cellspacing="10">
      <tr>
        {% for day in days %}
        <th>{{ day }}</th>
        {% endfor %}
      </tr>
      <tr>
        {% for day in days %}
        <td>
          <table border="1" align="center">
            {% for subfield in form.available_times %}
            {% if day in subfield.label.text %}
              <tr>
                <td>{{ subfield }} {{ subfield.label.text.replace(day, "")[2:] }}</td>
              </tr>
            {% endif %}
            {% endfor %}
          </table>
        </td>
        {% endfor %}
      </tr>
    </table>
    {% if form.available_times.errors %}
    <ul class="errors">
    {% for error in form.available_times.errors %}
      <li>{{error}}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {{ form.submit }}
    {{ form.hidden_tag() }}
  </form>
{% endblock %}
